{% extends 'base.html.twig' %}

{% block title %}Blog Symfony | Commentaires{% endblock %}

{% block body %}
    <div>
        <h1>Commentaires index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Auteur</th>
                <th>DateHeure</th>
                <th>Texte</th>
                <th>Commentaire</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for commentaire in commentaires %}
                <tr>
                    <td>{{ commentaire.id }}</td>
                    <td>{{ commentaire.auteur }}</td>
                    <td>{{ commentaire.dateHeure ? commentaire.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ commentaire.texte }}</td>
                    <td>{{ commentaire.commentaire }}</td>
                    <td>{{ commentaire.status }}</td>
                    <td>
                        <a href="{{ path('app_account_commentaires_show', {'id': commentaire.id}) }}">show</a>
                        <a href="{{ path('app_account_commentaires_edit', {'id': commentaire.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div>
            <a href="{{ path('app_account_commentaires_new', {'id': app.user.id}) }}">Create new</a>
        </div>

        <div>
            <a href="//TODO">Mes commentaires</a>
        </div>

        <div>
            <a href="{{ path('app_account') }}">Back to home</a>
        </div>

    </div>
{% endblock %}
